<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/invalid_creds.css">
</head>
<body>
    <div class="card">
        <p class="invalid_creds">Invalid username/email or password!</p>
        
        <form action="redirect">
            <button type="submit" name="redirect_to_origin" class="yes" value="true">Ok, I'll come back another time 🫠</button>
            <button type="submit" name="redirect_to_origin" class="no" value="false">Ok, I'll retry 🤗</button>
            <input type="hidden" name="redirect_uri" value="{{.RedirectURI}}"/>
            <input type="hidden" name="state" value="{{.State}}"/>
            <input type="hidden" name="entry_point" value="{{.EntryPoint}}"/>
        </form>
    </div>
</body>
</html>