body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(139, 161, 139);
}
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.card h1 {
    margin-bottom: 20px;
}
.card img {
    border-radius: 50%;
    margin-bottom: 20px;
}
.card p {
    margin-bottom: 20px;
}
.card ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}
.card ul li {
    background: #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.card form {
    display: flex;
    flex-direction: column;
}
.card form label {
    margin: 10px 0 5px;
}
.card form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.card form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.authorize {
    background-color: #4caf50;
    color: black;
}
.deny {
    background-color: #996dff; 
    color: black;
}