body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(139, 161, 139);
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card img {
    margin-bottom: 20px;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.yes {
    background-color: #c2fbd7;
    color: black;
}

.no {
    background-color: #c2fbd7;
    color: black;
}

.invalid_creds {
    color: rgb(235, 34, 85);
}